

.preview {
    display: flex;
    border-radius: 0 0 0 24px;
    max-width: 70vw;
    max-height: 80vh;
    height: auto;
}

.create {
    display: flex;
    flex-direction: column;
   
}
.createHeader {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    padding-bottom: 12px;
    border-bottom: 1px solid black;
}
.createMain {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}
.photoInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#description { 
    resize: none;
    height: 90%;
    box-sizing: border-box;
    margin-bottom: 12px;
    border-right: none;
}
#description:focus {
    outline: none;
}
.userPics {
    border-radius: 20px;
}
.bold {
    font-weight: bold;
}
.userInfo {
    display: flex;
    align-self: center;
    margin: 24px 0 ;

}
#selectPicture {
    display: none;
}
#image-form {
    display: flex;
    flex-direction: column;
}
.instagramButton{
    background-color: #405DE6;
    color: white;
    margin: 6px 24px;
    align-self: center;
    width: 75%;
    padding:6px;
    border-radius: 12px;
    font-size: 14px;
    border: none;
}
.instagramButton:hover{
    background-color: rgb(53, 42, 215);
}
