.preview {
    height: 80vh;
    grid-row: 2/3;
    grid-column: 1/2;
 
}

.create {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 36px 1fr;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.createHeader {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    padding: 6px;

}
.photoInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#description { 
    resize: none;
    height: 200px;
    width: 100%;
    box-sizing: border-box;
}
#description:focus {
    outline: none;
}
.userPics {
    border-radius: 20px;
}
.bold {
    font-weight: bold;
}
.userInfo {
    display: flex;
    align-self: center;
    margin-bottom: 30px;
}
#selectPicture {
    display: none;
}
#image-form {
    display: flex;
    flex-direction: column;
}
.instagramButton{
    background-color: #405DE6;
    color: white;
    margin: 6px 24px;
    align-self: center;
    width: 75%;
    padding:6px;
    border-radius: 12px;
    font-size: 14px;
    border: none;
}
.instagramButton:hover{
    background-color: rgb(53, 42, 215);
}
