.postPicture {
  width: 500px;
}

.likeButton {
  margin: 12px 0px;
  width: 24px;
}
.homePage {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
.postHeader {
  display: flex;
  margin-bottom: 12px;
}
.userPics {
  width: 48px;
  margin-right: 24px;
  border-radius: 24px;
}
.post {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  border-bottom: 1px solid grey;
  padding: 20px;
  font-size: 12px;
}
.commentUser {
  font-weight: bold;
  margin-right: 10px;
}
.comment {
  display: flex;
  align-items: center;
}
.commentInput {
  border: none;
  width: 90%;
  margin: 8px 0;
  resize: none;
  height: 36px;
}
.commentInput:focus {
  outline: none;
}

.postPage {
  width: 200p;
  height: 300px;
  background-color: red;
}

.liked { 
  content:url("../pictures/svgs/heart.svg");
}
.addCommentContainer {
  display: flex;
}
.addComment {
  color: blue;
  font-weight: bold;
  background-color: white;
  border: none;
flex:1}
.addComment:hover {
  cursor: pointer;
  color:black;
 
}