.postPicture {
  max-width: 90%;
}

.likeButton {
  margin: 12px 0px;
  width: 24px;
}
.homePage {
  display: flex;
  justify-content: center;
}
.postHeader {
  display: flex;
  margin-bottom: 12px;
  max-width: 80%;
}
.userPics {
  width: 48px;
  margin-right: 24px;
  border-radius: 24px;
}
.post {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  border-bottom: 1px solid grey;
  font-size: 12px;
  align-self: center;
  width: 90%;
 
}
.commentUser {
  font-weight: bold;
  margin-right: 10px;
}
.comments {
  display: flex;
  flex-direction: column;
  max-width: 75%;
}
.comment {
  display: flex;

}
.commentInput {
  border: none;
  width: 75%;
  margin: 8px 0;
  resize: none;
  height: 36px;
  padding: 6px;
}
.commentInput:focus {
  outline: none;
}

.postsPage {
  display: flex;
  flex-direction: column;

}

.liked { 
  content:url("../pictures/svgs/heart.svg");
}
.addCommentContainer {
  display: flex;
  align-items: center;
  
}
.addComment {
  color: blue;
  font-weight: bold;
  background-color: white;
  border: none;
}
.addComment:hover {
  cursor: pointer;
  color:black;
 
}
.commentTime {
margin-left: auto;
font-size: 10px;
color: grey;
}
.postTime {
  margin-left: 12px;
}
