.instagramLogo {
    scale: 0.75;
 margin-top: 40px;
}

ul {
  list-style: none;
}
.navBar {
    display: flex;
    flex-direction: column;
    position:sticky;
    top:0;
    max-width: 200px;
    padding: 16px;
    max-height: 100vh;
    border-right: 1px solid rgb(235, 229, 229);;
}


.profileLogo {
  width: 40px;
  background-size: 40px;
  border-radius: 20px;
  margin-right: 10px;
}

.navBarSvg {
  width: 40px;
  margin-right: 10px;
}

.actionButton {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 4px;
  transition: background-color 0.5s linear;
  font-size: 16px;
  margin: 20px 0;
}
.actionButton:hover {
  background-color: rgb(235, 229, 229);
}
.link:visited {
  color: black;
}
.link {
  text-decoration: none;
}


@media (max-width: 900px) { 
  .navBar {
    max-width: 100%;
    flex-direction: row;
    z-index: 1;
    background-color: white;
    justify-content: space-around;
  }
  .instagramLogo {
    display: none;
  }
  }