.profilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 5%;
}
.profileHeader {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 30px;
  border-bottom: 1px solid rgb(192, 188, 188);
}
.profilePicture {
  width: 120px;
  border-radius: 60px;
}
.profileInfo {
  margin: 0 30px;
}
.profilePostPicture {
  width: 100%;
}
.pictureBox {
}

.profilePosts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
 
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}
.enlargedPost {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  z-index: 1;
  overflow: hidden;
  box-shadow: 2px 2px 2px;
  min-height: 90vh;
  max-height: 90vh;
  width: 70vw;
}
.pictureContainer {
  display: flex;
}
.enlargedPostPicture {
  width: 100%;
  max-height: 90vh;
 
}

.postInfoContainer {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  max-height: 90vh;
}
.postHeader {
  display: flex;
  align-items: center;
  padding: 12px;
}
.bottomLine {
  border-bottom: 1px solid rgb(192, 192, 192);
  width: 100%;
}
.postUserPics {
  width: 30px;
  border-radius: 12px;
  margin-right: 20px;
}
.postCommentContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 12px;
  height: 100%;
}
.comment {
  word-break: break-all;
}

.postLikeContainer {
  padding: 12px;
}
.closeButton {
  position: absolute;
  right: 0px;
  top: 0x;
  font-size: 16px;
  padding: 5px;
  border-radius: 12px;
}

.closeButton:hover {
  background-color: rgb(192, 188, 188);
}
.postTime {
  font-size: 12px;
  color: grey;
}
.alignComments {
  display: flex;
}

@media (max-width: 900px) { 
  .enlargedPost{
    min-width: 98%;
    display: flex;
    flex-direction: column;
    min-height: auto;
    max-height: none;
    transform: none;
    left: 0;
    top: 0;
    margin-left: 6px;
  }

  .profilePage {
    width: auto;
    margin: 0;
  }
  .profileHeader{
    width: auto;
  }

  .postInfoContainer {
    min-height: auto;
    max-height: none;
  }
  .closeButton {
    color: grey;
    font-size: 24px;
  }
  .commentInput { 
    padding: 0 12px;
  }
  .postCommentContainer {
    margin-left: 8px;
    max-height: 35vh;
  }

 }